{% extends 'lotto/base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <h1 class="my-4">로또 서비스</h1>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">환영합니다!</h5>
                    <p class="card-text">로또 서비스에서 행운을 시작하세요.</p>
                    <a href="{% url 'lotto:purchase_ticket' %}" class="btn btn-primary">로또 구매하기</a>
                    <a href="{% url 'lotto:check_result' %}" class="btn btn-secondary">당첨 확인하기</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
